{% extends 'base.html' %}
{% block title %}Group Members{% endblock title %}
{% block content %}
<div class="container">
    <hr><h2>Group 10</h2><hr>
    <table class="table table-bordered mt-3 table-striped">
        <tr>
            <th>Name</th>
            <th>Registration Number</th>
        </tr>
        <tr>
            <td>Abubakar Nafiu Gambo</td>
            <td>CST/19/COM/00422</td>
        </tr>
        <tr>
            <td>Abubakar Sadiq Muhammad</td>
            <td>CST/18/COM/0084</td>
        </tr>
        <tr>
            <td>Sulaiman Abdullahi</td>
            <td>CST/19/COM/0403</td>
        </tr>
        <tr>
            <td>Saida Abdullahi</td>
            <td>CST/18/COM/0009</td>
        </tr>
        <tr>
            <td>Nusaibah Muhammad</td>
            <td>CST/18/COM/0060</td>
        </tr>
        <tr>
            <td>Zainab Muhammad</td>
            <td>CST/19/COM/0430</td>
        </tr>
        <tr>
            <td>Amina Imam Ali</td>
            <td>CST/18/COM/00025</td>
        </tr>
    </table>
    
</div>
{% include "footer.html" %}
{% endblock content %}